.tile {
  display: flex;
  background-color: aqua;
  width: calc((100% - 10px) / 3);
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}

.disableTileClick {
  pointer-events: none;
}